@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

$light: rgb(248, 249, 250);
$secondary: rgb(206, 212, 218);
$font-family-sans-serif: 'Source Serif Pro', serif;


@import 'bootstrap/scss/bootstrap';

