body{
    background-image: url("../../public/img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 578px) {
    body{
        background-position: top left;
    }
}